<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>LAB Express</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css"/>
  </head>
  <body>
    <h1>Life timeline</h1>
    <div class="timeline">
      <p> 1965: J.K. Rowling born </p>
      <p> 1990: On a four-hour-delayed train trip from Manchester to London, the idea for Harry Potter appears into her mind. She starts to write that very same night when she arrives to her flat. </p>
      <p> 1995: Rowling finished Harry Potter and the Philosopher’s Stone. </p>
      <p> 1997: Harry Potter and the Philosopher’s Stone is published in the United Kingdom </p>
      <p> 1998: Harry Potter and the Chamber of Secrets is published</p>
      <p> 1999: Harry Potter and the Prisoner of Azkaban is published </p>
      <p> 2000: Harry Potter and the Goblet of Fire is published</p>
      <p> 2003: Harry Potter and the Order of the Phoenix</p>
      <p> 2005: Harry Potter and the Half Blood Prince is published</p>
      <p> 2007: Harry Potter and the Deathly Hallows is published</p>
    </div>
    <div>
    <a href="/views/Home.html">Back to Home</a>
    <a href="/views/Works.html">See Works page</a>
    </div>
  </body>
</html>
