<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>LAB Express</title>
    <link rel="stylesheet" href="/public/stylesheets/style.css"/>
  </head>
  <body>
    <h1>Interesting facts</h1>
        <ul class="facts"> 
            <li>J.K. Rowling’s Harry Potter Manuscript was Rejected 12 Times</li>
            <li>J.K. Rowling Suffered Clinical Depression Which Lead to Dementors idea</li>
            <li>In 1990, Joanne was on a four-hour delayed train where the idea for Harry Potter became fully formed into her mind. Once she reached her destination, she started writing immediately.</li>
            <li>Joanne Rowling doesn’t have a middle name. The “K” initial in her pen name is for Kathleen, which is her grandmother’s name.</li>
            <li>J.K. Rowling and Harry Potter share the same birthday: July 31st</li>
     
        
          </ul>

    <a href="/views/Home.html">Back to Home</a>
    <a href="/views/About.html">See About page</a>
  </body>
</html>