body {
    background-color: lightblue;
    text-align: center;
}

.facts {
 font-size: 1.2em;
 text-align: center;
 border: 2px solid #eee;
 border-radius: 20px;
 box-sizing: border-box;
 background-color: whitesmoke;
 box-shadow: 2px 2px 10px 0 rgb(2, 2, 2);
 margin: 0 auto;
 padding: 30px; 
 width: 40%;
 top: 25%;
 left: 30%;
}

.timeline {
    position: relative;
    background-color: whitesmoke;
    padding: 15px;
    ont-size: 1.7em;
    text-align: center;
    border: 2px solid #eee;
    border-radius: 20px;
    ox-sizing: border-box;
    ackground-color: whitesmoke;
    opacity: 1;
    box-shadow: 2px 2px 10px 0 rgb(2, 2, 2);
    
}